body {
  font-family: Arial;
  background: #f2f5f9;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
}
input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
button {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 10px;
}
